<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

       <beans:import resource="../../../../../../main/resources/spring-config.xml"/>

       <bridge input-channel="outcomingMessagesChannel" output-channel="testQueueChannel"/>

       <channel id="testQueueChannel">
              <queue capacity="2"/>
       </channel>
</beans:beans>